html {
    background: url("/images/bg.png");
}

body, #root, #app-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* CHROME */

nav {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 28px;
}

.nav-wrapper {
    position: relative;
}

#logo-container {
    position: absolute;
    z-index: 10;
    top: 3px;
    right: 0;
    height: 80px;
    border-radius: 40px;
    border: solid 1px #fff;
    overflow: hidden;
}

.footer-color {
    position: fixed;
    z-index: 3;
    height: 20px;
    width: 100%;
    bottom: 0;
}

nav, .footer-color, #logo-container {
    transition: background .5s ease-in;
}

.game-nav {
    background-color: #eeeeee;
    margin-top: 28px;
    padding: 4px 0 6px 0;
    height: 47px;
    border-bottom: solid 1px #cccccc;
    margin-bottom: 10px;
}

.elm-overlay {
    /* lest fixed footer / shroud cause problems in dev-mode */
    z-index: 5;
}

/* FRAMEWORK ADJUSTMENTS */

h1, h2 {
    margin-top: 1rem;
}

.row {
    margin-bottom: 0px;
}

.btn {
  overflow: hidden;
}

.btn:hover:before {
  opacity: 1;
}

.btn:hover:before {
  opacity: 0.85;
}

.btn:focus:before {
  opacity: 1;
}

.btn:focus:before {
  opacity: 0.85;
}

.btn:before {
    content: '';
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}

.a--footer {
    font-weight: bold;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .m-cta__button {
        width: 100%;
    }
}

.cta__button {
    width: 100%;
}

.card-panel p:first-child {
    margin-top: 0px;
}

.card-panel p:last-child {
    margin-bottom: 0px;
}

/* GENERAL APP STYLES */

.card-header {
    font-size: 2rem;
    font-weight: bold;
}

p.card-header {
    margin-bottom: 20px;
}

/* INFO SHROUD */

.shroud {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    border-bottom: solid 2px #cccccc;
    z-index: 2;
    transition: height 0.2s cubic-bezier(0.77, 0, 0.175, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.shroud.hidden {
    height: 0px;
}

.message-box__container {
    width: 55%;
}

@media only screen and (max-width: 600px) {
    .message-box__container {
        padding: 10px 10px;
        width: 85%;
    }
}

.message-box {
    text-align: center;
    text-shadow: 1px 1px #cccccc;
    color: #555555;
    font-size: 2rem;
}

/* PAGE ELEMENTS */

.rejoin--close {
    transform: rotate(0deg);
    transition-duration: 0.2s;
    transition-property: transform;
}
.rejoin--close:hover, .rejoin--close:focus {
    transform: rotate(-90deg);
}

#game-code {
    color: #333333;
    height: 3rem;
    font-size: 30px;
}

.hand__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.hand__card {
    flex: 1 1 135px;
    min-width: 50%;
    padding: 3px;
}

.container--spaced {
    padding: 3px;
}

.li--spaced {
    margin-bottom: 5px;
}

.pitch--text {
    font-weight: 400;
    font-size: 80px;
    font-size: 13vw;
    text-shadow: 1px 1px #888888;
}

@media only screen and (min-width: 601px) {
    .pitch--text {
        font-size: 5vw;
    }
}

.pitch__card--hidden {
    visibility: hidden;
}

.pitch-winner__button {
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.buyer-role__text {
    font-size: 10vw;
}

.text--help p, .text--help li {
    color: #757575;
    font-size: 90%;
}