html {
    background: url("/images/bg.png");
}

body, #root, #app-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.game-nav {
    background-color: #eeeeee;
    padding: 4px 0 6px 0;
    height: 47px;
    border-bottom: solid 1px #cccccc;
    margin-bottom: 10px;
}

.row {
    margin-bottom: 0px;
}

.btn {
  overflow: hidden;
}

.btn:hover:before {
  opacity: 1;
}

.btn:hover:before {
  opacity: 0.85;
}

.btn:focus:before {
  opacity: 1;
}

.btn:focus:before {
  opacity: 0.85;
}

.btn:before {
    content: '';
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: opacity .2s;
    z-index: -1;
}

nav {
    height: 28px;
}

.nav-wrapper {
    position: relative;
}

#logo-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 80px;
    border-radius: 40px;
    border: solid 1px #fff;
    overflow: hidden;
}

nav, footer, #logo-container {
    transition: background .3s ease-in;
}

.a--footer {
    font-weight: bold;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .m-cta__button {
        width: 100%;
    }
}

.cta__button {
    width: 100%;
}

#game-code {
    color: #333333;
    height: 3rem;
    font-size: 30px;
}

.hand__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.hand__card {
    flex: 1 1 130px;
    min-width: 50%;
    padding: 3px;
}

.container--spaced {
    padding: 3px;
}

.li--spaced {
    margin-bottom: 5px;
}

.pitch--text {
    font-weight: 400;
    font-size: 90px;
    text-shadow: 1px 1px #888888;
}

.pitch__card--hidden {
    visibility: hidden;
}
